<div class="mb-48">
  <div class="lg:flex justify-between items-end -mx-2 mb-8">
  {{ $firstItem := index ( . ) 0}}
      <div class="px-2 lg:w-1/2 mb-4 lg:mb-0">
          <div class="overflow-hidden relative" style="padding-bottom:84%">
              <img class="absolute h-full w-full object-cover" src="{{ $firstItem.src }}" alt="">
          </div>
      </div>
      <div class="px-2 lg:w-1/2 pb-3">
          <p class="w-1/2 text-sm text-black">{{ $firstItem.description }}</p>
      </div>
  </div>
  <div class="lg:flex flex-row-reverse justify-between items-end -mx-2">
    {{ $secondItem := index ( . ) 1 }}
      <div class="px-2 lg:w-2/3 mb-4 lg:mb-0">
          <div class="overflow-hidden relative" style="padding-bottom:64%">
              <img class="absolute h-full w-full object-cover" src="{{ $secondItem.src }}" alt="">
          </div>
      </div>
      <div class="px-2 lg:w-1/3 pb-3">
          <p class="w-2/3 text-sm text-black">{{ $secondItem.description }} </p>
      </div>
  </div>
</div>