<div class="container pt-20 pb-28 relative">
    <div class="mb-14">
        <h1 class="text-6xl text-aa-gray-900 font-bold leading-snug mb-8">
            {{ .Title }}
            <br>
            {{ .Params.Subtitle }}
        </h1>
        <p class="text-lg text-aa-gray-700 leading-loose">{{ .Summary }}</p>
    </div>
    <!-- swiper -->
    <div class="">
        <div class="mb-10 lg:mb-0" x-data="{swiper: null}">
            <div
            x-init="swiper = new Swiper($refs.container, {
                    effect: 'fade',
                    fadeEffect: { crossFade: true },
                })"
            class="relative overflow-hidden mb-4"
            >
                <div class="absolute right-14 lg:bottom-0 z-20 lg:top-auto top-44">
                    <button @click="swiper.slidePrev()"
                            class="flex justify-center items-center text-white w-14 h-14 hover:text-aa-purple-500" style="background: rgba(0, 0, 0, 0.24);">
                            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>

                <div class="swiper-container exhibit-slider" x-ref="container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {{ range .Params.Resources }}
                        <div class="swiper-slide">
                            <div class="lg:flex justify-between -mx-2.5">
                                <div class="overflow-hidden lg:w-8/12 px-2.5 mb-10 lg:mb-0">
                                    <img class="object-cover w-full h-full" src="{{ .src }}" alt="">
                                </div>
                                <div class="lg:w-4/12 px-2.5">
                                    <h3 class="text-aa-gray-900 font-bold text-4xl mb-4">{{ .name }}</h3>
                                    <p class="text-aa-gray-700 mb-6">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>

                <div class="absolute right-0 lg:bottom-0 lg:top-auto top-44 z-20">
                    <button @click="swiper.slideNext()"
                            class="flex justify-center items-center text-white w-14 h-14 hover:text-aa-purple-500" style="background: rgba(0, 0, 0, 0.24);">
                        <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            </div>
            <ul class="pager-thumb01 flex -mx-2">
                {{ range $index, $element := .Params.Resources }}
                <li class="px-2" :class="{ 'current': swiper.activeIndex == {{ $index }} }">
                    <a class="block w-20 h-20 overflow-hidden cursor-pointer" @click="swiper.slideTo({{ $index }})">
                        <img class="object-cover w-full h-full" src="{{ .src }}" alt="">
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <!-- //swiper -->


</div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
