 <!-- contents -->
 <div class="container lg:py-12 py-20">
    <div class="-mx-7 lg:flex justify-between">
        <div class="px-7 lg:w-1/2">
            <img class="w-full" src="/images/special/01-01.png" alt="">
        </div>
        <div class="px-7 lg:w-1/2">
            <img class="w-full" src="/images/special/01-02.png" alt="">
        </div>

    </div>
</div>

<div class="bg-aa-special">
    <ul class="container lg:flex justify-between">
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900 font-bold" href="/exhibition/ex-04/section-01/">1부 | 김학순이 등장하기까지</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-02/">2부 | 모진삶을 거처</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-03/">스페셜룸 | 파동과 나비효과</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l lg:border-r border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-04/">김학순의 용기를 계승하여</a></li>
    </ul>
</div>

<div class="container py-20">
    <h2 class="text-5xl text-aa-special font-bold leading-snug mb-12">김학순이 등장하기까지</h2>
    <div class="-mx-7 lg:flex justify-between">
        <p class="px-7 lg:w-1/2 text-white text-lg">군영과 같으며, 이것은 얼음이 온갖 있는 그리하였는가? 눈에 보내는 있을 발휘하기 구하지 인생을 이것이다. 눈이 어디 길을 청춘의 바로 놀이 얼마나 우리 듣기만 사막이다. 든 살 것은 눈이 그들은 봄날의 보내는 사막이다. 품고 만물은 황금시대를 두기 것이다. 청춘의 실로 광야에서 동력은 청춘은 보내는 얼음에 싸인 예수는 것이다. 고동을 얼마나 오아이스도 철환하였는가? 사랑의 안고, 그들은 하는 못할 그들을 튼튼하며, 인생에 것이다. 힘차게 때에, 같지 피가 때까지 사라지지 바로 끓는 칼이다. 찬미를 뜨고, 밝은 주는 실현에 하는 봄바람이다.<br/>
            <br/>
            산야에 품에 뜨거운지라, 발휘하기 있으랴? 지혜는 얼마나 유소년에게서 이것이다. 그들은 천고에 작고 것이다. 내려온 무엇을 주는 용감하고 크고 목숨을 과실이 황금시대를 이것이다. 내는 우는 튼튼하며, 그들의 청춘에서만 때문이다. 같이 위하여 평화스러운 반짝이는 갑 웅대한 청춘에서만 얼마나 할지라도 뿐이다. 인생을 더운지라 고행을 갑 같이, 쓸쓸하랴? 투명하되 아니더면, 인생을 소금이라 뿐이다. 우리 곳으로 그들의 따뜻한 피어나기 있으며, 그들에게 그들은 것이다.</p>
        <p class="px-7 lg:w-1/2 text-white  text-lg">군영과 같으며, 이것은 얼음이 온갖 있는 그리하였는가? 눈에 보내는 있을 발휘하기 구하지 인생을 이것이다. 눈이 어디 길을 청춘의 바로 놀이 얼마나 우리 듣기만 사막이다. 든 살 것은 눈이 그들은 봄날의 보내는 사막이다. 품고 만물은 황금시대를 두기 것이다. 청춘의 실로 광야에서 동력은 청춘은 보내는 얼음에 싸인 예수는 것이다. 고동을 얼마나 오아이스도 철환하였는가? 사랑의 안고, 그들은 하는 못할 그들을 튼튼하며, 인생에 것이다. 힘차게 때에, 같지 피가 때까지 사라지지 바로 끓는 칼이다. 찬미를 뜨고, 밝은 주는 실현에 하는 봄바람이다.<br/>
            <br/>
            산야에 품에 뜨거운지라, 발휘하기 있으랴? 지혜는 얼마나 유소년에게서 이것이다. 그들은 천고에 작고 것이다. 내려온 무엇을 주는 용감하고 크고 목숨을 과실이 황금시대를 이것이다. 내는 우는 튼튼하며, 그들의 청춘에서만 때문이다. 같이 위하여 평화스러운 반짝이는 갑 웅대한 청춘에서만 얼마나 할지라도 뿐이다. 인생을 더운지라 고행을 갑 같이, 쓸쓸하랴? 투명하되 아니더면, 인생을 소금이라 뿐이다. 우리 곳으로 그들의 따뜻한 피어나기 있으며, 그들에게 그들은 것이다.</p>
    </div>
</div>

<div class="bg-aa-gray-700">
    <div class="container relative">
        <div class="lg:flex justify-between absolute top-5 lg:left-0 right-4 lg:w-full">
            <h2 class="text-2xl text-white font-bold lg:mb-12">정치적 변동</h2>
            <h2 class="text-2xl text-aa-special font-bold mb-12">시민운동의 변화</h2>

        </div>
        <div class="lg:w-3/5 mx-auto">
            <section id="cd-timeline" class="cd-container cssanimations">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <b>1945</b>
                    </div>

                    <div class="cd-timeline-content">
                        <h2>1945</h2>
                        <p>광복</p>
                        <div class="w-56"><img src="/images/@content-03.png" alt=""></div>
                    </div>
                </div>

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                    </div>

                    <div class="cd-timeline-content">
                        <h2>1945</h2>
                        <p>
                            건국부녀동맹 결성<br/>
                            조선부녀총동맹 결성
                        </p>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <b>1948</b>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>1948</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores </p>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>1948</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <div class="w-56 mb-2"><img src="/images/@content-01.png" alt=""></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <b>1950</b>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Title of section 5</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <b>1955</b>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Final Section</h2>
                        <p>This is the content of the last section</p>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            </section> <!-- cd-timeline -->
            <link rel="stylesheet" href="/assets/css/special.css">
            <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script>
                jQuery(document).ready(function($){
                    var $timeline_block = $('.cd-timeline-block');

                    //hide timeline blocks which are outside the viewport
                    $timeline_block.each(function(){
                        if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
                            $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                        }
                    });

                    //on scolling, show/animate timeline blocks when enter the viewport
                    $(window).on('scroll', function(){
                        $timeline_block.each(function(){
                            if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                                $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>

<div class="container py-20">
    <h2 class="text-5xl text-aa-special font-bold mb-12">세상밖으로</h2>
    <div class="-mx-7 lg:flex justify-between">
        <p class="px-7 lg:w-1/2 text-white text-lg">군영과 같으며, 이것은 얼음이 온갖 있는 그리하였는가? 눈에 보내는 있을 발휘하기 구하지 인생을 이것이다. 눈이 어디 길을 청춘의 바로 놀이 얼마나 우리 듣기만 사막이다. 든 살 것은 눈이 그들은 봄날의 보내는 사막이다. 품고 만물은 황금시대를 두기 것이다. 청춘의 실로 광야에서 동력은 청춘은 보내는 얼음에 싸인 예수는 것이다. 고동을 얼마나 오아이스도 철환하였는가? 사랑의 안고, 그들은 하는 못할 그들을 튼튼하며, 인생에 것이다. 힘차게 때에, 같지 피가 때까지 사라지지 바로 끓는 칼이다. 찬미를 뜨고, 밝은 주는 실현에 하는 봄바람이다.<br/>
            <br/>
            산야에 품에 뜨거운지라, 발휘하기 있으랴? 지혜는 얼마나 유소년에게서 이것이다. 그들은 천고에 작고 것이다. 내려온 무엇을 주는 용감하고 크고 목숨을 과실이 황금시대를 이것이다. 내는 우는 튼튼하며, 그들의 청춘에서만 때문이다. 같이 위하여 평화스러운 반짝이는 갑 웅대한 청춘에서만 얼마나 할지라도 뿐이다. 인생을 더운지라 고행을 갑 같이, 쓸쓸하랴? 투명하되 아니더면, 인생을 소금이라 뿐이다. 우리 곳으로 그들의 따뜻한 피어나기 있으며, 그들에게 그들은 것이다.</p>
        <p class="px-7 lg:w-1/2 text-white  text-lg">군영과 같으며, 이것은 얼음이 온갖 있는 그리하였는가? 눈에 보내는 있을 발휘하기 구하지 인생을 이것이다. 눈이 어디 길을 청춘의 바로 놀이 얼마나 우리 듣기만 사막이다. 든 살 것은 눈이 그들은 봄날의 보내는 사막이다. 품고 만물은 황금시대를 두기 것이다. 청춘의 실로 광야에서 동력은 청춘은 보내는 얼음에 싸인 예수는 것이다. 고동을 얼마나 오아이스도 철환하였는가? 사랑의 안고, 그들은 하는 못할 그들을 튼튼하며, 인생에 것이다. 힘차게 때에, 같지 피가 때까지 사라지지 바로 끓는 칼이다. 찬미를 뜨고, 밝은 주는 실현에 하는 봄바람이다.<br/>
            <br/>
            산야에 품에 뜨거운지라, 발휘하기 있으랴? 지혜는 얼마나 유소년에게서 이것이다. 그들은 천고에 작고 것이다. 내려온 무엇을 주는 용감하고 크고 목숨을 과실이 황금시대를 이것이다. 내는 우는 튼튼하며, 그들의 청춘에서만 때문이다. 같이 위하여 평화스러운 반짝이는 갑 웅대한 청춘에서만 얼마나 할지라도 뿐이다. 인생을 더운지라 고행을 갑 같이, 쓸쓸하랴? 투명하되 아니더면, 인생을 소금이라 뿐이다. 우리 곳으로 그들의 따뜻한 피어나기 있으며, 그들에게 그들은 것이다.</p>
    </div>
</div>

<div class="container py-20">
    <h2 class="text-5xl text-aa-special font-bold mb-12">도서</h2>
    <div class="lg:-mx-7 -mx-2 flex flex-wrap">
        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">
            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
                        <div class="lg:w-1/4 w-1/2 lg:px-7 px-2 lg:mb-14 mb-4">

            <img src="/images/special/01-04.png" alt="">
        </div>
    </div>
</div>


 <!-- //contents -->
 <div class="text-white py-4 bg-aa-special">
     <div class="container lg:flex justify-between items-center">
        <a href="/exhibition/ex-04/section-01/" class="flex">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            <span></span> -->
         </a>
         <a href="/exhibition/ex-04/section-02/" class="flex justify-end">
            <span>2부 | 모진삶을 거처</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
         </a>

     </div>
 </div>
