 <!-- contents -->
 <div class="container py-20 lg:flex justify-between">
    <h2 class="text-5xl text-aa-yellow-400 font-bold mb-12 lg:w-1/3 leading-snug">스페셜룸<br/>
        파동과 나비효과</h2>
    <div class="lg:w-2/3">
        <p class="text-white text-lg mb-6">‘최초의 공개증언자’였으며 한 명의 ‘인권운동가’였던 김학순의 말은 커다란 해일이 되어 전 세계로 퍼져나갔다.</p>
        <p class="text-white  text-lg mb-6">이곳에서는 첫 공개 증언과 각종 캠페인, 수요시위, 증언집회, 인터뷰 등을 통해 당당히 외쳤던 김학순의 목소리를 들을 수 있다. 법적 배상을 회피하기 위해 일본 정부가 만든 ‘아시아여성기금’(국민기금)에 가장 강력하게 반대하며 전쟁범죄의 책임자 일왕의 사죄를 요구하던 김학순의 모습을 확인할수있다.특히국내최초로공개되는첫일본증언집회당시 김학순의 모습을 생생하게 만날 수 있다.</p>
        <p class="text-white  text-lg mb-6">그의 목소리가 어떻게 다른 피해자들, 활동가들과 전 세계 시민들의 마음에 공명을 일으키며 연대로 연결되었는지, 전쟁책임을 부인하고 역사를 부정하는 사람들에 대항해 희망과 변화를 위한 기억과 행동으로 확장되어 왔는지 확인해 보자.</p>
    </div>
</div>

<div style="background:#F85D35">
    <ul class="container lg:flex justify-between">
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-01">1부 | 김학순이 등장하기까지</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-02">2부 | 모진삶을 거처</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900 font-bold underline" href="/exhibition/ex-04/section-03">스페셜룸 | 파동과 나비효과</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l lg:border-r border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-04">김학순의 용기를 계승하여</a></li>
    </ul>
</div>

<div class="py-72">
</div>


 <!-- //contents -->
 <div class="text-white py-4" style="background:#F85D35">
     <div class="container lg:flex justify-between items-center">
        <a href="/exhibition/ex-04/section-02" class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            <span>2부 | 모진삶을 거처</span>
         </a>
         <a href="/exhibition/ex-04/section-04" class="flex justify-end">
            <span>김학순의 용기를 계승하여</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
         </a>

     </div>
 </div>