 <!-- contents -->
 <div class="container lg:py-12 py-20">
    <div class="-mx-7 lg:flex justify-between">
        <div class="px-7 lg:w-1/2">
            <img class="w-full" src="/images/special/01-01.png" alt="">
        </div>
        <div class="px-7 lg:w-1/2">
            <img class="w-full" src="/images/special/01-02.png" alt="">
        </div>

    </div>
</div>

<div class="bg-aa-special">
    <ul class="container lg:flex justify-between">
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900 font-bold underline" href="/exhibition/ex-04/section-01/">1부 | 정치·사회적인 배경</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-02/">2부 | 김학순 삶의 궤적을 따라</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-03/">스페셜룸 | 파동과 나비효과</a></li>
        <li class="lg:w-1/4"><a class="block lg:border-l lg:border-r border-black py-3.5 text-center text-aa-gray-900" href="/exhibition/ex-04/section-04/">김학순의 용기를 계승하여</a></li>
    </ul>
</div>

<div class="container py-20">
    <h2 class="text-5xl text-aa-special font-bold leading-snug mb-12">{{ .Title }}</h2>
    <div class="-mx-7 lg:grid gap-4 grid-cols-2">
      <p class="px-7 text-white text-lg mb-6">{{ .Summary }}</p>
      <p class="px-7 text-white text-lg mb-6">{{ .Params.description }}</p>
    </div>
</div>

<div class="bg-aa-gray-700">
    <div class="container relative">
        <div class="lg:flex justify-between absolute top-5 lg:left-0 right-4 lg:w-full">
            <h2 class="text-2xl text-white font-bold lg:mb-12">정치적 변동</h2>
            <h2 class="text-2xl text-aa-special font-bold mb-12">시민운동의 변화</h2>

        </div>
        <section id="cd-timeline" class="cd-container cssanimations type01">
            {{ range $element := .Params.Resources }}
            {{ if eq .part "part-1" }}
            {{ range $element.components }}
                <div class="cd-timeline-block {{ if eq .vertical "right"}}rightItem{{ else }}leftItem{{ end }} lg:mb-12 mb-2">
                    <div class="cd-timeline-img">
                        <b>{{ .year }}</b>
                    </div>
                    <div class="cd-timeline-content">
                      <h2>{{ .eventDate }}</h2>
                      <p>{{ .description }}</p>
                      <div class="w-56"><img src="{{ .src }}" alt="{{ .target_title }}"></div>
                      {{ if .target }}
                        <p class="text-sm">
                          <a class="hover:underline" href="{{ .target }}">{{ .target_title }}</a>
                        </p>
                      {{ else }}
                        <p class="text-sm">
                          {{ .target_title }}
                        </p>
                      {{ end }}
                    </div>
                </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </section> <!-- cd-timeline -->
    </div>
</div>

<div class="container py-20">
    <h2 class="text-5xl text-aa-special font-bold mb-12">세상밖으로</h2>
    <div class="-mx-7 lg:flex justify-between">
        <p class="px-7 lg:w-1/2 text-white text-lg">〈정대협〉이 결성되고 난 이후에도 ‘군의 관여’나 ‘위안부’ 강제 동원에 대한 ‘증거가 없다’는 등 일본 정부의 부인이 계속되자, 분노한 관계자들은 〈한교여연〉이 오랫동안 지원했던 원폭 피해자들을 통해 피해자를 수소문하기 시작한다. 마침내 원폭 피해자 1세 이맹희의 소개로 나타난 생존자 김학순을 만나게 된다. 김학순은 “당시 당했던 일이 하도 기가 막히고 끔찍해 평생 가슴 속에만 묻어두고 살아왔지만... 국민모두가과거를잊은채일본에만매달리는것을보니도저히참을 수가 없다”고 말했다. ‘살아 있는 증거’가 세상에 당당히 얼굴을 드러내고 말을 하기 시작하자 억눌러져 있던 다른 여성들이 침묵의 협곡을 건너 비로소 피해생존자라는 사회적 형체를 입고 하나둘 드러나게 된다.</p>
        <p class="px-7 lg:w-1/2 text-white  text-lg">당시 국제 정세 또한 요동치고 있었다. 히로히토 일왕의 사망(1989)으로 식민지와 전쟁에 대한 자성과 관심이 증폭했고, 오랜 냉전체제가 붕괴되었다. 남북한도 UN에 동시 가입(1991)하게 된다. 오랜 군사독재체제의 붕괴와 절차적 민주주의가 진행되던 국내 상황과 더불어 일본군‘위안부’ 문제가 세상에 드러날 수 있는 여지가 마련된 것이다.</p>
    </div>
</div>

<div class="bg-aa-gray-700">
    <div class="container relative">
        <div class="lg:flex justify-between absolute top-5 lg:left-0 right-4 lg:w-full">
            <h2 class="text-2xl text-white font-bold lg:mb-12">정치적 변동</h2>
            <h2 class="text-2xl text-aa-special font-bold mb-12">시민운동의 변화</h2>
        </div>
        <section id="cd-timeline" class="cd-container cssanimations type01">
            {{ range $element := .Params.Resources }}
            {{ if eq .part "part-2" }}
            {{ range $element.components }}
                <div class="cd-timeline-block {{ if eq .vertical "right"}}rightItem{{ else }}leftItem{{ end }} lg:mb-12 mb-2">
                    <div class="cd-timeline-img">
                        <b>{{ .year }}</b>
                    </div>
                    <div class="cd-timeline-content">
                      <h2>{{ .eventDate }}</h2>
                      <p>{{ .description }}</p>
                      <div class="w-56"><img src="{{ .src }}" alt="{{ .target_title }}"></div>
                      {{ if .target }}
                        <p class="text-sm">
                          <a class="hover:underline" href="{{ .target }}">{{ .target_title }}</a>
                        </p>
                      {{ else }}
                        <p class="text-sm">
                          {{ .target_title }}
                        </p>
                      {{ end }}
                    </div>
                </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </section> <!-- cd-timeline -->
    </div>
</div>
<link rel="stylesheet" href="/assets/css/special.css">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
    jQuery(document).ready(function($){
        var $timeline_block = $('.cd-timeline-block');

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function(){
            if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function(){
            $timeline_block.each(function(){
                if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                }
            });
        });
    });
</script>
<div class="text-white py-4 bg-aa-special">
   <div class="container lg:flex justify-between items-center">
      <a href="/exhibition/ex-04/section-01/" class="flex">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
          <span></span> -->
       </a>
       <a href="/exhibition/ex-04/section-02/" class="flex justify-end">
          <span>2부 | 김학순 삶의 궤적을 따라</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
       </a>

   </div>
</div>
