<div class="flex text-sm text-aa-700 py-2 border-aa-purple-500 border-b-2">
    <span class="w-5/6 text-center">뉴스레터</span>
    <span class="w-1/6 text-center">날짜</span>
</div>
<ul class="mb-20">
    {{ range $.Site.Data.newsletter.lists }}
    <li class="flex py-6 border-b border-aa-gray-200 text-aa-gray-600">
        <a class="w-5/6 px-4 text-aa-gray-700 hover:text-aa-purple-500" href="{{ .url }}">{{ .title }}</a>
        <span class="w-1/6 text-center">{{ .date }}</span>
    </li>
    {{ end }}
</ul>