{{ define "main" }}
{{- `<!-- _default/list.html  -->` | safeHTML -}}
<div class="bg-white">
    <div class="container py-20">
        <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">{{ .Title }}</h1>
        {{ partial "marketing/banner--section-single" . }} 
        
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <ul class="masonry01 mb-20" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": "true"}'>
            <li class="grid-sizer"></li>
            <li class="gutter-sizer"></li>
            {{ range last 50 (where site.RegularPages "Type" "items").ByTitle }}
            <li class="mb-10 grid-item">
              <a href="{{ .Permalink }}">
                <span class="overflow-hidden mr-7">
                    {{ range .Params.Components }}
                    <img class="w-full" src="{{ . | absURL }}" alt="">
                    {{ end }}
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">{{ .Title }}</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">{{ .Params.descriptions }}</span>
                </span>
              </a>  
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{- `<!-- _default/list.html  -->` | safeHTML -}}
{{ end}}
