<li>
	<a href="{{ .Permalink }}">
    <span class="block relative overflow-hidden rounded-lg mb-4">
      {{ $settings := .Site.Params }}
      {{ with (.Params.featured ) }}
          {{ $fileExtension := index (last 1 (split . ".")) 0 }}
          {{ $src := partial "base/cf-image.html" (dict "style" "thumb" "src" . "settings" $settings) }}
       <img class="h-full w-full object-cover" src="{{ $src }}">
      {{ end }}
    </span>
    <span class="block">
      <b class="text-aa-gray-900 text-xl mb-2 block">{{ .Title }}</b>
      <span class="block text-sm text-aa-gray-700">{{ .Params.description }}</span>
    </span>
  </a>  
</li>