{{ define "main" }}
{{- `<!-- _default/list.html  -->` | safeHTML -}}
<div class="contents-area" id="main-content">
  {{ partial "base/breadcrumb" . }}
  <div class="container pt-12 pb-28 relative">
    <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">{{ .Title }}</h1>
        {{ partial "marketing/sharingbutton" . }}
        {{ partial "marketing/banner--section-single" . }} 
        <!-- 필터 주석처리 -->
        
        <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
            <h2 class="text-2xl text-aa-gray-900 leading-none">총 {{ len ( .RegularPagesRecursive) }}건</h2>
<!--             <div class="flex gap-6">
                <a class="text-aa-purple-500" href="#">필터</a>
                <select class="bg-white text-aa-gray-600">
                    <option value="0" selected>전체</option>
                    <option value="1">option1</option>
                    <option value="2">option2</option>
                </select>
            </div> -->
        </div>
        {{ $paginator := .Paginate .RegularPagesRecursive }}
        <ul class="list-gallary02 flex flex-wrap justify-between mb-20 gap-y-5">
          {{ range $paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}
        </ul> 
        {{ partial "app/pagination.html" $paginator }}
      </div>
    </div> 
  </div>
</div>  
{{- `<!-- _default/list.html  -->` | safeHTML -}}
{{ end}}