<div class="mb-20">
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">전쟁과여성인권박물관 건립 추진 과정</h2>
    <ul class="text-aa-gray-900">
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-2 lg:mb-0">2003</h3>
            <div>
                <dl class="flex">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.18.</dt>
                    <dd>돌아가신 할머니를 위한 추모회 및 전쟁과 여성인권박물관 건립을 위한 점화식 개최 <br/>
                        돌아가신 할머니들을 진정으로 추모하는 일은 할머니들이 겪으신 고통을 잊지 않고, 다시는 이런 일이 일어나지 않도록 교육하고 활동하는 <br/>
                        것이라는 취지아래 [전쟁과 여성인권박물관] 건립을 위한 점화식을 생존해 계신 할머니들을 모시고 진행 <br/>
                        점화식을 계기로 하여 가장 먼저 할머니들이 후원 : 길원옥, 故김분선, 故김은례, 故백넙데기, 故신현순, 故이금순, 이용수, 장점돌, 故하상숙, 최갑순, 故박두리, 故황순이, 故김상희, 故이순덕, 故이옥금, 故한도순 할머니께서 박물관을 시작할 수 있는 주춧돌기금으로 10만원~300만원을 후원하심</dd>
                </dl>

            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-2 lg:mb-0">2004</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">10.22.</dt>
                    <dd>국회 통일외교통상위원회의 외교통상위원회 국정감사에 길원옥할머니가 증인으로 출석 <br/>
                        통일외교통상위원회 소속 국회의원 전원 만장일치로 일본군‘위안부’ 피해자의 명예와 인권회복을 위한 역사관 건립을 위한 결의안 채택, 국회 본회에 상정, 결의안 채택</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.16.</dt>
                    <dd>건립위원회 발족식 개최(공동건립위원장단, 공동건립추진위원장단 추대)<br/>
                        홍보인쇄물․영상물 제작․공식 모금활동 시작</dd>
                </dl>
                <dl class="flex">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.27.</dt>
                    <dd>제1차 공동건립추진위원장단 회의(박물관 부지마련 대책 본격 논의시작)</dd>
                </dl>

            </div>
        </li>
    </ul>
</div>
<div class="mb-20">
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">전쟁과여성인권박물관 연혁</h2>
    <ul class="text-aa-gray-900">
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-2 lg:mb-0">2003</h3>
            <div>
                <dl class="flex">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.18.</dt>
                    <dd>돌아가신 할머니를 위한 추모회 및 전쟁과 여성인권박물관 건립을 위한 점화식 개최 <br/>
                        돌아가신 할머니들을 진정으로 추모하는 일은 할머니들이 겪으신 고통을 잊지 않고, 다시는 이런 일이 일어나지 않도록 교육하고 활동하는 <br/>
                        것이라는 취지아래 [전쟁과 여성인권박물관] 건립을 위한 점화식을 생존해 계신 할머니들을 모시고 진행 <br/>
                        점화식을 계기로 하여 가장 먼저 할머니들이 후원 : 길원옥, 故김분선, 故김은례, 故백넙데기, 故신현순, 故이금순, 이용수, 장점돌, 故하상숙, 최갑순, 故박두리, 故황순이, 故김상희, 故이순덕, 故이옥금, 故한도순 할머니께서 박물관을 시작할 수 있는 주춧돌기금으로 10만원~300만원을 후원하심</dd>
                </dl>

            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-2 lg:mb-0">2004</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">10.22.</dt>
                    <dd>국회 통일외교통상위원회의 외교통상위원회 국정감사에 길원옥할머니가 증인으로 출석 <br/>
                        통일외교통상위원회 소속 국회의원 전원 만장일치로 일본군‘위안부’ 피해자의 명예와 인권회복을 위한 역사관 건립을 위한 결의안 채택, 국회 본회에 상정, 결의안 채택</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.16.</dt>
                    <dd>건립위원회 발족식 개최(공동건립위원장단, 공동건립추진위원장단 추대)<br/>
                        홍보인쇄물․영상물 제작․공식 모금활동 시작 </dd>
                </dl>
                <dl class="flex">
                    <dt class="lg:w-1/12 w-1/6 flex-shrink-0">12.27.</dt>
                    <dd>제1차 공동건립추진위원장단 회의(박물관 부지마련 대책 본격 논의시작)</dd>
                </dl>

            </div>
        </li>
    </ul>
</div>