<div class="mb-20">
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">전쟁과여성인권박물관 연혁</h2>
    <ul class="text-aa-gray-900">
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2012</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.04.</dt>
                    <dd>전쟁과여성인권박물관 개관 기념 심포지엄</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.05.</dt>
                    <dd>전쟁과여성인권박물관 개관</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">06.15.</dt>
                    <dd>박물관건립위원회 해단식</dd>
                </dl>                                
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2013</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.16.</dt>
                    <dd>서울시에 박물관 등록</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.18.</dt>
                    <dd>한국사립박물관협회 가입</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">03.08.</dt>
                    <dd>3ㆍ8세계여성의날 기념 특별전시 <또 하나의 세계지도-어제와 같은 오늘> 개막식</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.05.</dt>
                    <dd>개관 1주년 기념식 및 어린이 날 특별행사 <할머니들의 이야기>, <그림이야기로 배우는 일본군‘위안부’>, <br><희망의 나비 날리기>, <평화놀이터(평화 읽기, 평화 쓰기, 평화 그리기, 평화 만들기)></dd>
                </dl>
            </div>
        </li>    
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2014</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">07.24. - 08.15.</dt>
                    <dd>포토저널리스트 정은진 초청 특별전시 <콩고의 눈물 2014 : 끝나지 않은 전쟁, 마르지 않은 눈물></dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">08.02. - 08.08.</dt>
                    <dd><평화가 있는 골목> 벽화 그리기</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">08.11.</dt>
                    <dd><평화가 있는 골목> 벽화 공개식</dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2015</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.23.</dt>
                    <dd>광복 70주년 기념 특별전시 <해방을 기다리는 여인들></dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2017</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">03.29.</dt>
                    <dd>김복동·길원옥 상 제막식</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">04. ~ 05.</dt>
                    <dd>박물관 개관 5주년 기념 벽화 그리기</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">03. ~ 08.</dt>
                    <dd>박물관 청소년 기자단 운영</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">09.</dt>
                    <dd>특별전시 <수요일 12시> </dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.</dt>
                    <dd>평화기행 실시</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">11.</dt>
                    <dd>한영일 평화맵 제작</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0"></dt>
                    <dd>한영일 박물관 도록 제작</dd>
                </dl>                                               
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2018</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">07. ~ 10.</dt>
                    <dd>평화마을 만들기 동행 캠페인 <전쟁과여성인권박물관과 함께하는 문화예술프로그램></dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">10.</dt>
                    <dd>평화기행 3회 실시</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">00.</dt>
                    <dd>특별전시 <상하이 위안소의 시작></dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2019</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.</dt>
                    <dd>여성운동가 김복동 추모와 기억전</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">10.</dt>
                    <dd>김순옥, 지돌이, 이수단, 이광자 추모전 <그곳에 내가, 우리가 있었다></dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2020</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.</dt>
                    <dd>수요시위 아카이브 오픈</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">08.</dt>
                    <dd>일본군'위안부'피해생존자 유품전 <새로운 시작, 길을 찾아가는 여정></dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.</dt>
                    <dd>한국정신대문제대책협의회 창설 30주년 기념 특별전시 <길위에서의 30년, 결국은 희망이더라></dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2021</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">8.17. - 11.27.</dt>
                    <dd>김학순 공개증언 30주년 기념 특별전시 <그날의 목소리></dd>
                </dl>
            </div>
        </li>                                                    
    </ul>
</div>
<div class="mb-20">
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">전쟁과여성인권박물관 건립추진 연혁</h2>
    <ul class="text-aa-gray-900">
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">1994</h3>
            <div>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">00</dt>
                    <dd>여성과 전쟁' 사료관 건립준비위원회 발족</dd>
                </dl>

            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">1999</h3>
            <div>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">02</dt>
                    <dd>서대문 한국정신대문제대책협의회 사무실 내 전시 및 교육을 위한 교육관 개관</dd>
                </dl>

            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2003</h3>
            <div>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">12.18.</dt>
                    <dd>일본군'위안부'피해자를 진정으로 추모하는 일은 그들의 고통을 잊지 않고, 다시는 이런 일이 일어나지 않도록 교육하고 활동하는 것'이라는 취지 아래 돌아가신 할머니들을 위한 추모회 및 전쟁과여성인권박물관 건립을 위한 점화식(일본군'위안부'피해자 길원옥, 김분선, 김은례, 백넙데기, 신현순, 이금순, 이용수, 장점돌, 하상숙, 최갑순, 박두리, 황순이, 김상희, 이순덕, 이옥금, 한도순의 박물관 주춧돌기금 후원)</dd>
                </dl>

            </div>
        </li>                
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2004</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">10.22.</dt>
                    <dd>국회 통일외교통상위원회의 외교통상위원회 국정감사에 길원옥할머니가 증인으로 출석 <br/>
                        통일외교통상위원회 소속 국회의원 전원 만장일치로 일본군‘위안부’ 피해자의 명예와 인권회복을 위한 역사관 건립을 위한 결의안 채택, 국회 본회에 상정, 결의안 채택</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">12.16.</dt>
                    <dd>건립위원회 발족식 개최(공동건립위원장단, 공동건립추진위원장단 추대)<br/>
                        홍보인쇄물․영상물 제작․공식 모금활동 시작 </dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">12.27.</dt>
                    <dd>제1차 공동건립추진위원장단 회의(박물관 부지마련 대책 본격 논의시작)</dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2005</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.</dt>
                    <dd>박물관 부지 마련 활동 시작(서울시 내 공원부지, 서울시 및 중앙정부 소유 건물 중 박물관으로 리모델링 가능한 건물 탐색)</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">05.27.</dt>
                    <dd>국회 여성위원회 간담회</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">06.</dt>
                    <dd>한국여자프로농구 경기에서 박물관 건립기금 마련을 위한 캠페인 진행</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">08.</dt>
                    <dd>서울시에 박물관 부지 기부 요청</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.</dt>
                    <dd>서울시, 서대문독립공원 주차장 자리를 박물관 부지로 추진하는 문제 본격 논의</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.21.</dt>
                    <dd>서대문독립공원 주차장 자리가 문화재에 포함되어 있는 사실 확인</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.25.</dt>
                    <dd>서대문독립공원 매점 부지에 박물관 건립하는 것으로 서울시와 합의<br>
                    이명주 공동건립추진위원장(명지대학교 건축학과), 김희옥 공동건립추진위원장(에이텍종합건축사사무소 소장) 건축설계 진행</dd>
                </dl>                                                                
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2006</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">03.08.</dt>
                    <dd>서대문독립공원 매점 부지에 박물관을 건립하는 문제와 관련 현상변경 허가신청서 서대문구청에 제출</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">04.14.</dt>
                    <dd>문화재청 사적과 현상변경심의위원회에서 전쟁 여성인권박물관 건립 허가</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">06.12.</dt>
                    <dd>서울시 도시공원위원회 공원조성계획변경심의를 받기 위해 남산공원관리사업소에 심의안건 제출</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">07.18.</dt>
                    <dd>서울시도시공원위원회 심의 통과</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">08.18.</dt>
                    <dd>소위원회 2차 회의 심의 통과(최종 허가)</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">09.21.</dt>
                    <dd>박물관 건립 설명회를 위한 국회의원 조찬간담회</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.19.</dt>
                    <dd>전쟁과 여성인권박물관 부지 확정 및 건립 설명회 (국가인권위원회 배움터)</dd>
                </dl>  
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">11.</dt>
                    <dd>국회 여성가족위원회 예결산소위원회 개최, 박물관 예산논의, 2007년 예산에 올림</dd>
                </dl>               
            </div>
        </li> 
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2007</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.12.</dt>
                    <dd>남산공원관리사업소에 사업시행 1년 연장 요청</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.24.</dt>
                    <dd><박물관 2007 시민모금 캠페인> 발대식</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">02.09.</dt>
                    <dd>한국정신대문제대책협의회 20개 회원단체장 명의로 여성가족부에 박물관 건립 예산 지원 요청</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">04.27. ~ 30.</dt>
                    <dd>박물관 건립 모금을 위한 오사카 집회</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">08.26.</dt>
                    <dd>나의 마음은 지지 않았다' 상영회 참석 및 박물관 홍보 활동(일본 동경)</dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2008</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">03.28. ~ 30.</dt>
                    <dd>해외 박물관 네트워크 활동(베트남)</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">04.07. ~ 09.</dt>
                    <dd>해외 박물관 네트워크 활동(대만)</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">03.31.</dt>
                    <dd>박물관 홍보대사(농구선수 전주원) 위촉</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">04.28.</dt>
                    <dd>문화재청, 현상변경심의 관련 신축 재허가(2008년 8월 15일에서 2011년 8월 15일까지로 신축허가 연장)</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">06.21.</dt>
                    <dd>전쟁과여성인권박물관 건립기금 마련을 위한 <이정미 콘서트, 이어지는 노래, 이어지는 춤, 이어지는 삶>(일본 오사카)</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">06.30. ~ 07.04.</dt>
                    <dd>해외 박물관 네트워크 활동(독일)</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">07.31.</dt>
                    <dd>남산공원관리사업소에 도시계획시설사업 실시계획 인가 신청 서류 제출</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">08.16.</dt>
                    <dd>호주 시드니에서 일본군'위안부' 할머니와 함께하는 호주친구들 주최 "박물관 후원의 밤" 개최</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">09.08.</dt>
                    <dd>남산공원관리사업소, 도시계획시설사업 실시계획 인가 신청에 따른 결과 통보</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">10.16.</dt>
                    <dd>박물관 사업실기계획 인가 통보 및 인가증(건축허가) 교부</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">10.17.</dt>
                    <dd>전쟁과여성인권박물관 건립을 위한 일본 동경 학습회</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">10.24. ~ 27.</dt>
                    <dd>해외 박물관 네트워크 활동(중국 상해, 무한)</dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">11.03.</dt>
                    <dd>광복회 박물관 건축허가 철회를 위한 기자회견에 관한 정대협 입장 기자회견)</dd>
                </dl>                           
            </div>
        </li> 
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2009</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">02.07.</dt>
                    <dd>전쟁과 여성인권박물관 일본 건설위원회 발족 집회</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">02.28.</dt>
                    <dd>전쟁과여성인권박물관 건립기금 마련을 위한 <이정미 콘서트>(일본 동경) </dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">03.08.</dt>
                    <dd>전쟁과여성인권박물관 착공식 <희망의 터 다지기> </dd>
                </dl>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">3.11. ~ 3.15.</dt>
                    <dd>서울메트로미술관 내 <전쟁과여성인권 국제전></dd>
                </dl>                
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2011</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">02.</dt>
                    <dd>서대문독립공원 부지를 보류하고 기존의 건물을 매입해서 리모델링하기로 결의, (독립운동의 성지에 ‘위안부’ 박물관을 세울 수 없다며 광복회와 순국선열유족회 등 독립운동단체들의 공개적인 반대와 서을시의 미온적인 태도로 인해) 새로운 부지를 물색하기 시작</dd>
                </dl>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">08.</dt>
                    <dd>성미산 자락의 2층 주택 매입 (서울시 마포구 성산동 39-13) 건축 설계 및 시공, 자료수집, 모금 활동 전개</dd>
                </dl>
            </div>
        </li>
        <li class="lg:flex mb-14">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">2012</h3>
            <div>
                <dl class="flex mb-4">
                    <dt class="w-36 flex-shrink-0">01.26.</dt>
                    <dd>건물 리모델링 공사 착공식</dd>
                </dl>
            </div>
        </li>                                                    
    </ul>
</div>