<section class="bg-aa-gray-600">
	<h1 class="text-4xl mb-12 text-white font-bold">기부자의 벽</h1>
	<ul class="flex flex-wrap mb-20">
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	    <li class="lg:w-1/12 w-1/6 text-aa-gray-300 mb-4">홍길동</li>
	</ul>
	<dl class="bg-aa-purple-500 text-white text-center py-10">
	    <dt class="font-bold text-3xl mb-6">후원 문의</dt>
	    <dd class="leading-7">
	        후원에 대해 궁금한 사항은 <br/>
	        정의기억연대 운영관리국 070-4903-0528(직) / tax@womenandwar.net 로 문의해 주시기 바랍니다.
	    </dd>
	</dl>
</section>