<div class="bg-aa-gray-50">
  <div class="container lg:flex justify-between py-20">
      <div class="lg:w-1/2 lg:pr-4 mb-12 lg:mb-0">
          <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">관람안내</h2>
          <ul class="leading-snug text-xl">
              <li class="flex mb-6">
                  <span class="inline-block w-3 h-3 rounded-md bg-aa-purple-500 mr-2 flex-shrink-0 relative top-1.5"></span>
                  <a>원활한 관람을 위해 <b>사전 예약제</b>를 운영하고 있습니다. <span class="block text-sm leading-4">(* 예약 시간대에만 입장 가능합니다)</span></a>
              </li>
              <li class="flex mb-6">
                  <span class="inline-block w-3 h-3 rounded-md bg-aa-purple-500 mr-2 flex-shrink-0 relative top-1.5"></span>
                  <a><b>시간 당 관람 인원을 50명</b>으로 제한합니다.<span class="text-sm">(*선착순 마감)</p></a>
              </li>
              <li class="flex mb-6">
                  <span class="inline-block w-3 h-3 rounded-md bg-aa-purple-500 mr-2 flex-shrink-0 relative top-1.5"></span>
                  <a><b>오디오 가이드 제공</b> [한국어, 영어, 일어] <span class="block text-sm leading-4">(현재 별도의 교육이나 전시 설명은 진행하지 않고 있습니다)</span></a>
              </li>
          </ul>
      </div>
      <div class="lg:w-1/2 lg:pl-4 relative">
          <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">관람시간</h2>
          <ul class="leading-snug text-xl mb-14 lg:mb-0">
              <li class="flex mb-6">
                  <span class="inline-block w-3 h-3 rounded-md bg-aa-purple-500 mr-2 flex-shrink-0 relative top-1.5"></span>
                  <a class="lg:flex">
                      <b class="block lg:w-44 lg:border-r border-aa-gray-700 mr-8">화요일 - 토요일</b>
                      <span><span class="lg:font-bold">오전 10시 - 오후 6시</span> <em class="not-italic text-base lg:block">(오후 5시 입장 마감)</em></span>
                  </a>
              </li>
              <li class="flex mb-6">
                  <span class="inline-block w-3 h-3 rounded-md bg-aa-purple-500 mr-2 flex-shrink-0 relative top-1.5"></span>
                  <a class="lg:flex">
                      <b class="block lg:w-44 lg:border-r border-aa-gray-700 mr-8">일요일, 월요일</b>
                      <b class="text-aa-red-500">휴관</b>
                  </a>
              </li>
          </ul>
          <div class="text-center">
              <a href="/guide/admission/" class="inline-block px-7 py-3.5 bg-aa-purple-500 text-white hover:bg-black lg:absolute bottom-0 right-0 mx-auto">관람예약 및 안내 보기</a>
          </div>
      </div>
  </div>
</div>