<div class="relative bg-aa-gray-100 bg-no-repeat">
    <div class="container xl:py-20 pt-11 pb-9 flex">
        <div class="xl:w-1/2 lg:w-1/2 w-full text-center xl:pr-10">
            <h2 class="text-4xl text-aa-gray-800 mb-8 leading-tight">전쟁과여성인권박물관에 <br/>오신것을 환영합니다</h2>
            <p class="text-lg mb-16">일본군'위안부' 생존자들이 겪었던 역사를 기억하고 교육하며, <br/>
                일본군'위안부'문제를 해결하기 위해 활동하는 공간입니다. <br/>
                또한 지금도 계속되고 있는 전시성폭력문제를 해결하기 위해 <br/>
                연대하며 전쟁과 여성폭력이 없는 세상을 만들어 나가는 행동하는 <br/>
                박물관입니다.</p>
            <a class="text-lg text-aa-purple-500 inline-flex items-center" href="/about/greetings/">박물관 소개 보기
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
    <div class="lg:absolute lg:left-1/2 lg:top-0 lg:h-full h-80 lg:w-1/2 bg-no-repeat bg-contain bg-center" style="background-image:url(/images/bg-main-welcome.png)"></div>
</div>