<!-- main-slider -->
<div class="relative"
  x-data="{swiper: null}"
  x-init="swiper = new Swiper($refs.container, {
    loop: true,
    slidesPerView: 1,
    pagination: {
        el: '.swiper-pagination',
      },
    }
  )"
>
  <div class="absolute left-10 bottom-6 z-20 lg:flex hidden">
    <button @click="swiper.slidePrev()"
      class="flex justify-center text-white hover:text-aa-purple-500">
      <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      이전
    </button>
  </div>

          {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}

  <div class="swiper-container main-slider" x-ref="container">
    <div class="swiper-wrapper">
      {{ range (.Paginate (where .Site.RegularPages "Type" "slides")).Pages }}
      <div class="swiper-slide">
        <div class="bg-no-repeat bg-cover bg-center flex items-center relative" style="background-image:url({{ .Params.image | absURL }})">
          <div class="w-full h-full absolute top-0 left-0 bg-black opacity-30"></div>
          <div class="container relative">
            <div class="text-white">
              <b class="mb-2 font-normal">{{ .Params.upper_message }}</b>
              <dl class="mb-8">
                  <dt class="font-serif font-bold text-6xl leading-tight mb-2">{{ .Title }}</dt>
                  <dd>{{ .Params.sub_title }}</dd>
              </dl>
              {{ if .Params.button_url }} 
              <a href="{{ .Params.button_url | absURL }}" class="inline-block px-7 py-3.5 bg-aa-purple-500 hover:bg-black">{{ .Params.button_name }}</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="absolute right-10 bottom-6 z-20 lg:flex hidden">
    <button @click="swiper.slideNext()"
      class="flex justify-center text-white hover:text-aa-purple-500">
      다음
      <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
  <div class="swiper-pagination z-10"></div>
</div>
<!-- //main-slider -->
