<div class="bg-aa-gray-50">
    <div class="container lg:flex lg:justify-between lg:py-20 py-16">
        <div class="lg:w-1/2 lg:pr-4 mb-14 lg:mb-0">
            <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">상설전시</h2>
            <ul>
                {{ with .Site.GetPage "section" "exhibition" }}
                {{ range where .Pages ".Params.Type" "permanent" }}
                <li class="flex py-6 border-b border-aa-gray-200">
                    <a href="{{ .Permalink }}" class="lg:flex items-center">
                        <span class="overflow-hidden flex-shrink-0 mr-6" style="width:16.8125rem;height: 11.815rem">
                            <img class="object-cover" src="{{ .Params.Image }}" alt="{{ .Title }}">
                        </span>
                        <span>
                            <em class="block text-sm not-italic text-aa-purple-500 mb-1">상설전시</em>
                            <b class="block text-black text-2xl font-normal mb-5">{{ .Title }}</b>
                            <span class="block line-clamp-3 text-aa-gray-500 leading-7">{{ .Summary }}</span>
                        </span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="lg:w-1/2 lg:pl-4 relative">
            <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">특별전시</h2>
            <ul>
                {{ with .Site.GetPage "section" "exhibition" }}
                {{ range where .Pages ".Params.Type" "special" }}
                <li class="flex py-6 border-aa-gray-200">
                    <a href="{{ .Permalink }}" class="lg:flex items-center">
                        <span class="flex-shrink-0 mr-6" style="width:16.8125rem;height: 11.815rem">
                            <img class="object-cover" src="{{ .Params.Image }}" alt="{{ .Title }}">
                        </span>
                        <span>
                            <em class="block text-sm not-italic text-aa-purple-500 mb-1">특별전시</em>
                            <b class="block text-black text-2xl font-normal mb-5">{{ .Title }}</b>
                            <span class="block line-clamp-3 text-aa-gray-500 leading-7">{{ .Summary }} </span>
                        </span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>