<div class="bg-white">
    <div class="container py-20">
        <div class="relative">
            <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">교육 프로그램</h2>
            <a class="absolute top-2 right-0 text-aa-purple-500" href="/research-and-learning/courses/">프로그램 전체보기</a>
        </div>
        <div class="lg:flex px-6 items-end">
            {{ range first 1 (where .Site.RegularPages "Type" "research-and-learning") }}
            <div class="w-56 flex-shrink-0 lg:mr-12 lg:ml-0 mx-auto mb-6 lg:mb-0 overflow-hidden">
                <img class="block w-full" src="{{ .Params.image | absURL }}" alt="">
            </div>
            <div>
                <dl class="max-w-2xl">
                    <dt class="mb-8">
                        <b class="block text-3xl mb-2 text-aa-gray-900 font-normal">{{ .Title }}</b>
                        <span class="text-aa-gray-500"><time>{{ .Date.Format "2006년 1월 2일" }}</time></span>
                    </dt>
                    <dd>
                        <p class="line-clamp-4 text-aa-gray-700 mb-8">{{ .Summary }}</p>
                        <a class="text-aa-purple-500 py-3.5 px-7 border border-aa-purple-500 inline-block" href="{{ .Permalink }}">자세히 보기</a>
                    </dd>
                </dl>
            </div>
            {{ end }}
        </div>
    </div>
</div>