<div class="bg-white">
  <div class="container py-20">
    <div class="relative">
      <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">소장품</h2>
      <a class="absolute top-2 right-0 text-aa-purple-500" href="/items">소장품 모두보기</a>
    </div>
    <p class="text-lg mb-8 text-aa-gray-700">전시 아이템의 온라인 관람을 시작해보세요 .</p>
    <ul class="masonry01 mb-20">
      <li class="grid-sizer"></li>
      <li class="gutter-sizer"></li>
      {{ $settings := .Site.Params }}
      {{ range first 16 (where site.RegularPages "Type" "items") }}
      <li class="mb-10 grid-item">
        <a href="{{ .Permalink }}">
          <span class="overflow-hidden mr-7">
            {{ range .Params.Components }}
            {{ $fileExtension := index (last 1 (split . ".")) 0 }}
            {{ $src := partial "base/cf-image.html" (dict "style" "thumb" "src" . "settings" $settings) }}
            <img class="w-full" src="{{ $src }}" alt="{{ $.Title }}">
            {{ end }}
          </span>
          <span class="block">
            <b class="text-aa-gray-900 text-xl font-normal mb-2 block">{{ .Title }}</b>
            <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">{{ .Params.description }}</span>
          </span>
        </a>
      </li>
      {{ end }}
    </ul>
    <div class="text-center">
      <a href="/items" class="inline-block px-7 py-3.5 bg-aa-purple-500 text-white hover:bg-black">소장품 모두보기</a>
    </div>
  </div>
</div>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
window.addEventListener('DOMContentLoaded', function(){
  imagesLoaded( '.masonry01', function() {
    new Masonry( '.masonry01', {
      "itemSelector": ".grid-item",
      "columnWidth": ".grid-sizer",
      "gutter": ".gutter-sizer",
      "percentPosition": "true"
    })
  })
})
</script>
