<div class="bg-white">
    <div class="container py-20">
        <div class="relative">
            <h2 class="text-4xl text-aa-gray-900 border-b border-aa-gray-900 pb-6 mb-6 leading-none">소장품</h2>
            <a class="absolute top-2 right-0 text-aa-purple-500" href="#">소장품 모두보기</a>
        </div>
        <p class="text-lg mb-8 text-aa-gray-700">전시 아이템의 온라인 관람을 시작해보세요 .</p>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <ul class="masonry01 mb-20" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": "true"}'>
            <li class="grid-sizer"></li>
            <li class="gutter-sizer"></li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-01.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">위안소 ‘난고쿠료' 출입증</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-02.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토 아카이치의 사진과 참전 당시의 일기장</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-03.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토 아카이치의 사진</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-04.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-05.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토당시 군인이었던 무토</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-01.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">위안소 ‘난고쿠료' 출입증</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-02.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토 아카이치의 사진과 참전 당시의 일기장</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-03.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토 아카이치의 사진</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-04.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
            <li class="mb-10 grid-item">
                <span class="overflow-hidden mr-7">
                    <img class="w-full" src="/images/@content-05.png" alt="">
                </span>
                <span class="block">
                    <b class="text-aa-gray-900 text-xl font-normal mb-2 block">당시 군인이었던 무토당시 군인이었던 무토</b>
                    <span class="block text-sm line-clamp-2 text-aa-gray-700 leading-6">붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. 붉은 물결선은 일본 해군의 상징이며, '하기와라 부대'라고 인쇄되어 있다. </span>
                </span>
            </li>
        </ul>
        <div class="text-center">
            <a href="#" class="inline-block px-7 py-3.5 bg-aa-purple-500 text-white hover:bg-black">소장품 모두보기</a>
        </div>
    </div>
</div>