<div class="bg-aa-gray-700 bg-no-repeat bg-cover bg-center" style="background-image: url(/images/bg-main-newsletter-wwm.png);">
  <div class="container py-24 flex justify-center">
    <div class="form-body text-center" x-data="processForm">
      <h2 class="text-4xl text-white mb-8 leading-none">뉴스레터</h2>
      <p class="lg:text-lg text-base text-white mb-8">
        <span>박물관 및 정의기억연대 통합 뉴스레터를 보내드립니다.<br>
        <a href="/connect/newsletter/" class="underline hover:underline-offset-8 hover:bg-aa-puple-500">이전 뉴스레터 보기</a></span>
      </p>
      <form id="subscribe-newsletter" class="flex h-10 items-stretch" @submit.prevent="requestSubscription" x-init="$watch('message', ()=>{ if(message && messageType){$store.notifications.show(message, messageType); message = ''; messageType = '';} })">
        <input type="hidden" x-model="message" />
        <label class="hidden" for="email">이메일주소</label>
        <input class="px-3 bg-white box-border w-80" type="email" id="email" name="email"
          placeholder="이메일 주소: user@gmail.com"
          x-model="email.address"
          x-bind:class="{'invalid border-red-600 border-2':email.errorMessage && email.blurred}"
          data-rules='["required","email"]' />
        <button class="bg-aa-purple-500 text-white flex-shrink-0 w-28" x-text="buttonText"></button>
      </form>
    </div>
  </div>
</div>
<script>
function processForm() {
  return {
    api: '{{ .Site.Params.stibee.endpointSubscribe }}/{{ .Site.Params.stibee.listIdSubscribe }}',
    payloads: {
      "email": "",
      "termsOfServiceAgreed": false,
    },
    buttonText: '구독 신청',
    isLoading: false,
    message: '',
    messageType: '',
    email: {
      address: '',
      errorMessage: '',
      blurred: false
    },
    requestSubscription: function () {
      this.buttonText += ' 중...'
      this.payloads.email = this.email.address
      fetch(this.api, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.payloads)
      })
      .then(res => res.json())
      .then(data => {
        if (data.code == 'Succeed.List.NonConfirm.NonPaid') {
          this.isLoading = false
          this.messageType = 'success'
          this.message = data.message
          document.querySelector('#subscribe-newsletter').reset()
        }
        else {
          this.messageType = 'error'
          this.message = data.Message
          console.log(data)
          if (data.Code == 'Errors.List.AlreadyExistEmail') {
            this.message = '이미 구독 중입니다.'
          }
        }
      })
      .catch(error => {
        this.messageType = 'error'
        this.message = '지금을 구독 신청을 할 수 없습니다.'
      })
      .finally(() => {
        this.isLoading = false;
        this.buttonText = '구독 신청'
      })
    }
  }
}
</script>

{{/*
Code: "Errors.List.AlreadyExistEmail"
HTTPStatusCode: 400
Message: "이미 존재하는 이메일 입니다."
*/}}
