<div class="bg-aa-gray-700 bg-no-repeat bg-cover bg-center" style="background-image: url(/images/bg-main-newsletter.png);">
    <div class="container py-24 flex justify-center">
        <div class="text-center">
            <h2 class="text-4xl text-white mb-8 leading-none">뉴스레터</h2>
            <p class="lg:text-lg text-base text-white mb-8">박물관 및 정의기억연대 통합 뉴스레터를 보내드립니다.</p>
            <form action="" class="flex h-10 items-stretch">
                <label class="hidden" for="letter_email">이메일주소</label>
                <input class="px-3 bg-white box-border w-80" type="email" id="letter_email" placeholder="이메일 주소">
                <button class="bg-aa-purple-500 text-white flex-shrink-0 w-20">신청</button>
            </form>
        </div>
    </div>
</div>