<div class="mx-auto text-aa-gray-800 text-lg leading-8" style="max-width:39rem">
    <div class="text-base p-4 bg-aa-gray-100 mb-10">
        출판, 전시, 방송, 교육, 연구 등 상업적.비상업적 목적으로 소장기록물을 활용할 수 있습니다.
    </div>
    <h2 class="text-aa-gray-900 font-bold text-3xl mb-4">이용 신청절차</h2>
    <ol class="mb-4">
        <li>
            1.이용 신청서 작성 및 제출
            <ol class="ml-2">
                <li>* 소장기록물 이용 신청서 다운로드</li>
                <li>* 제출처: museum@womenandwar.net</li>
            </ol>
        </li>
        <li>2. 담당자 접수 및 처리결과 회신</li>
        <li>
            3. 이용료 납부
            <ol class="ml-2">
                <li>* 사진: 1장 50,000원</li>
                <li>* 영상: 1건(5분 분량) 100,000원</li>
                <li>* 부가세 별도 10% 부과</li>
                <li>* 활용목적에 따라 이용료가 감면될 수 있습니다.</li>
            </ol>
        </li>
        <li>4. 사본(디지털 파일) 제공</li>
    </ol>
    <!-- Attatch -->
    <a href="/files/소장자료이용신청서_2022.docx" class="flex justify-between gap-8 mb-4 py-4 px-6 bg-aa-gray-50 border border-aa-gray-200 hover:border-aa-purple-500" download >
        <span class="text-base text-aa-gray-700">소장자료이용신청서.docx</span>
        <span class="text-aa-purple-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
        </span>
    </a>
    <!-- //Attatch -->
    <!-- Attatch -->
    <a href="/files/Application-Form-for-the-Use-of-Materials.docx" class="flex justify-between gap-8 mb-4 py-4 px-6 bg-aa-gray-50 border border-aa-gray-200 hover:border-aa-purple-500" download >
        <span class="text-base text-aa-gray-700">Application-Form-for-the-Use-of-Materials.docx</span>
        <span class="text-aa-purple-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
        </span>
    </a>
    <!-- //Attatch -->

</div>