@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1em;
            column-count: 2;
        }
        .masonry-lg {
            column-gap: 2em;
            column-count: 3;
        }
        .masonry-xl {
            column-gap: 3.5em;
            column-count: 4;
        }
        .break-inside {
            break-inside: avoid;
        }

    }
}