{{ define "main" }}
<div class="contents-area" id="main-content">
    <!-- submenu -->

    <!-- //submenu -->
    <div>
        <div class="relative bg-cover" style="height:37.5rem;background-image:url({{ .Params.Image }})"></div>
        <div class="relative mx-auto lg:p-10 py-10 px-4 lg:-mt-11 bg-white" style="max-width:51.25rem">
            <dl class="mb-8">
                <dt class="text-4xl mb-8 font-bold text-black leading-snug">n 부<br/>
                    {{ .Title }}
                    <span class="block w-24 h-0.5 bg-black mt-8"></span>
                </dt>
                <dd class="text-aa-gray-600 leading-relaxed">
                    {{ .Summary }}
                </dd>
            </dl>
            {{ partial "marketing/sharingbutton" . }}
        </div>
    </div>

    <!-- contents -->
    <div class="container pt-12 pb-28 relative">
       <ul class="list-board02">
           {{ range .Pages }}
            <li class="mb-12">
                <a href="{{ .RelPermalink }}" class="flex items-center justify-between group gap-5">
                    <span class="flex-shrink-0">
                        <span class="block overflow-hidden relative">
                            <img class="absolute h-full w-full object-cover" src="{{ .Params.Image }}" alt="">
                        </span>
                    </span>
                    <span class="text-aa-gray-500">
                        <b class="block mb-2 text-2xl text-aa-gray-900 group-hover:text-aa-purple-500">{{ .Title }}</b>
                        <span class="block mb-2 leading-7 line-clamp-2">{{ .Summary }}</span>
                    </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <!-- //contents -->
</div>
{{ end }}
