{{ define "main" }}
  <div class="contents-area {{ if eq .Params.layout "special-1" }}bg-aa-gray-600{{ else if eq .Params.layout "special-2"}}bg-aa-special{{ else if eq .Params.layout "special-3"}}bg-aa-gray-600{{ else if eq .Params.layout "special-4"}}bg-aa-special{{ end }}" id="main-content">
    {{ if eq .Params.layout "view01" }}
      <div class="container pt-20 pb-28 relative">
        <div class="mb-20">
          <h1 class="text-6xl text-aa-gray-900 font-bold leading-snug mb-8">{{ .Title }}<br/>
            <span class="text-aa-gray-500">{{ .Params.Subtitle }}</span>
          </h1>
          <p class="text-lg text-aa-gray-700 leading-loose w-1/2">{{ .Summary }}</p>
        </div>
        {{ range $index, $element := .Params.Resources }}
          {{ if ne .partial_layout nil }}
            {{ $partial := (print "exhibition/" .partial_layout ".html") }}
            {{ partial $partial .components }}
          {{ end }}
        {{ end }}
      </div>
    {{ else if eq .Params.layout "view02" }}
      {{ partial "exhibition/section-view-2" . }}
    {{ else if eq .Params.layout "special-1" }}
      {{ partial "exhibition/special-section-1" . }}
    {{ else if eq .Params.layout "special-2" }}
      {{ partial "exhibition/special-section-2" . }}
    {{ else if eq .Params.layout "special-3" }}
      {{ partial "exhibition/special-section-3" . }}
    {{ else if eq .Params.layout "special-4" }}
      {{ partial "exhibition/special-section-4" . }}                    
    {{ end }}
  </div>
{{ end }}
