{{ with site.Data.admission_guide.ko }}
<div class="mb-20">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">{{ .관람안내.title }}</h2>
    </div>
    <div class="lg:flex justify-between">
        <div class="leading-loose text-lg">
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.개관일.title }}<span>|</span></dt>
                <dd>{{ .관람안내.개관일.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.휴관일.title }}<span>|</span></dt>
                <dd>{{ .관람안내.휴관일.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.주소.title }}<span>|</span></dt>
                <dd>{{ .관람안내.주소.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.문의.title }}<span>|</span> </dt>
                <dd>
                    <ul class="list-decimal ml-5">
                    {{ range .관람안내.문의.body }}
                        <li>{{ . }}</li>
                    {{ end }}
                    </ul>
                </dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.안내.title }}<span>|</span></dt>
                <dd>
                    <ul class="list-decimal ml-5">
                        {{ range .관람안내.안내.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>
            <a class="inline-block border text-white py-3 px-7 bg-aa-purple-500 hover:bg-black mr-3 mt-14" href="{{ site.Params.bookingNaver }}" target="_blank">관람 예약</a>
        </div>
        <div class="mt-10 lg:mt-0" style="font-family:Kokoro,sans-serif;">
            <a class="inline-block border border-aa-purple-500 py-2 px-6 text-aa-purple-500 hover:text-black hover:border-black mr-3 cursor-pointer" @click="enModal = true" href="#">English guide</a>
            <a class="inline-block border border-aa-purple-500 py-2 px-6 text-aa-purple-500 hover:text-black hover:border-black" @click="jpModal = true" href="#">日本語ガイド</a>
        </div>
    </div>
</div>
<div class="mb-20">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">{{ .관람요금.title }}</h2>
    </div>
    <div class="max-w-full overflow-x-scroll">
        <table class="w-full" >
            <tr>
                <th class="w-1/3 text-aa-purple-600 bg-aa-purple-50 py-5 px-2 border-t border-r border-aa-gray-200" style="background:rgba(138, 100, 234, 0.08)">
                    <b class="block lg:text-xl text-base">{{ .관람요금.대인.title }}</b>
                    <span class="block font-normal">{{ .영문관람요금.대인.title }}</span>
                </th>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.대인.body }}</b>
                    <span>{{ .영문관람요금.대인.body }}</span>
                </td>
            </tr>
            <tr>
                <th class="w-1/3 text-aa-purple-600 bg-aa-purple-50 py-5 px-2 border-t border-r border-aa-gray-200" style="background:rgba(138, 100, 234, 0.08)">
                    <b class="block lg:text-xl text-base">{{ .관람요금.소인.title }}</b>
                    <span class="block font-normal">{{ .영문관람요금.소인.title }}</span>
                </th>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.소인.body }}</b>
                    <span>{{ .영문관람요금.소인.body }}</span>
                </td>
            </tr>
            <tr>
                <th rowspan="2" class="w-1/3 text-aa-purple-600 bg-aa-purple-50 py-5 px-2 border-t border-r border-aa-gray-200" style="background:rgba(138, 100, 234, 0.08)">
                    <b class="block lg:text-xl text-base">{{ .관람요금.단체.title }}</b>
                    <span class="block font-normal">{{ .영문관람요금.단체.title }}</span>
                </th>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <div class="flex">
                        <div class="w-1/2">
                            <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.단체.대인.title }}</b>
                            <span>{{ .영문관람요금.단체.대인.title }}</span>
                        </div>
                        <div class="w-1/2">
                            <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.단체.대인.body }}</b>
                            <span>{{ .영문관람요금.단체.대인.body }}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <div class="flex">
                        <div class="w-1/2">
                            <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.단체.소인.title }}</b>
                            <span>{{ .영문관람요금.단체.소인.title }}</span>
                        </div>
                        <div class="w-1/2">
                            <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.단체.소인.body }}</b>
                            <span>{{ .영문관람요금.단체.소인.body }}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="4" class="w-1/3 text-aa-purple-600 bg-aa-purple-50 py-5 border-t border-r border-aa-gray-200" style="background:rgba(138, 100, 234, 0.08)">
                    <b class="block lg:text-xl text-base">{{ .관람요금.무료.title }}</b>
                    <span class="block font-normal">{{ .영문관람요금.무료.title }}</span>
                </th>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.무료.일반.title }}</b>
                    <span>{{ .영문관람요금.무료.일반.title }}</span>
                </td>
            </tr>
            <tr>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.무료.장애인.title }}</b>
                    <span>{{ .영문관람요금.무료.장애인.title }}</span>
                </td>
            </tr>
            <tr>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.무료.박물관기증자.title }}</b>
                    <span>{{ .영문관람요금.무료.박물관기증자.title }}</span>
                </td>
            </tr>            
            <tr>
                <td class="py-5 border-t border-aa-gray-200 text-center px-2">
                    <b class="block lg:text-xl text-base font-bold text-aa-gray-900">{{ .관람요금.무료.수급자.title }}</b>
                    <span>{{ .영문관람요금.무료.수급자.title }}</span>
                </td>
            </tr>
        </table>
    </div>
</div> 
{{ end }}   
<div class="mb-20">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">시설 안내도 / 전경</h2>
    </div>
    <ul class="flex flex-wrap">
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%; padding-top: 20%">
                <img class="absolute w-full object-cover" src="/images/facility/museum-overview.jpg" alt="박물관 전경">
            </span>
        </li>
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="/images/facility/museum-facility-01.png" alt="박물관 지하 1층">
            </span>
        </li>
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="/images/facility/museum-facility-02.png" alt="박물관 2층">
            </span>
        </li>
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="/images/facility/museum-facility-03.png" alt="박물관 1층">
            </span>
        </li>
    </ul>
</div>

<!-- Modal -->
{{ range $index, $element := site.Data.admission_guide }}
<div x-show="{{ $index }}Modal" style="font-family:Kokoro,sans-serif;">
    <div class="fixed w-full h-full top-0 left-0 bg-black bg-opacity-60"></div>
    <div class="absolute lg:w-10/12 w-full lg:top-24 top-0 lg:left-1/2 left-0 lg:transform lg:-translate-x-1/2 bg-white lg:rounded-xl overflow-hidden z-50">
        <a href="#" class="absolute block w-12 h-12 top-4 right-4" @click="{{ $index }}Modal = false">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </a>
        <div class="lg:py-14 py-6 lg:px-28 px-4">
            <h2 class="text-2xl font-bold text-aa-gray-900 leading-none mb-6">{{ .관람안내.title }}</h2>
            <div class="lg:flex justify-between">
                <div class="leading-loose text-lg">
                    <dl class="flex">
                        <dt class="lg:w-20 w-24 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.개관일.title }}<span>|</span></dt>
                        <dd>{{ .관람안내.개관일.body }}</dd>
                    </dl>
                    <dl class="flex">
                        <dt class="lg:w-20 w-24 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.휴관일.title }}<span>|</span></dt>
                        <dd>{{ .관람안내.휴관일.body }}</dd>
                    </dl>
                    <dl class="flex">
                        <dt class="lg:w-20 w-24 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.주소.title }}<span>|</span></dt>
                        <dd>{{ .관람안내.주소.body }}</dd>
                    </dl>
                    <dl class="flex">
                        <dt class="lg:w-20 w-24 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.문의.title }}<span>|</span> </dt>
                        <dd>{{ .관람안내.문의.body }}</dd>
                    </dl>
                    <dl>
                        <dt class="lg:w-20 w-24 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.안내.title }}</dt>
                        <dd>
                            <ol class="ml-5">
                                {{ range .관람안내.안내.body }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ol>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <!--div class="lg:py-14 py-6 lg:px-28 px-4">
            <h2 class="text-2xl font-bold text-aa-gray-900 leading-none mb-8">{{ .온라인예약안내.title }}</h2>
            <ul>
                <li class="justify-between mb-4">
                    <dl class="mb-8">
                        <dt class="w-10 h-10 leading-10 text-center rounded-3xl bg-aa-purple-500 text-white mb-4">1</dt>
                        {{ range .온라인예약안내.body_1 }}
                            <dd class="text-xl mb-2">{{ . }}</dd>
                        {{ end }}
                    </dl>
                    <div class="w-96 h-full bg-aa-gray-50 text-center mb-8">
                        <img class="h-full mx-auto" src="/images/museum-booking-01.png" alt="온라인예약예시화면-01">
                    </div>
                </li>
                <li class="justify-between mb-4">
                    <dl class="mb-8">
                        <dt class="w-10 h-10 leading-10 text-center rounded-3xl bg-aa-purple-500 text-white mb-4">2</dt>
                        {{ range .온라인예약안내.body_2 }}
                            <dd class="text-xl mb-2">{{ . }}</dd>
                        {{ end }}
                    </dl>
                    <div class="w-96 h-full bg-aa-gray-50 flex items-center">
                        <img class="h-full mx-auto" src="/images/museum-booking-02.png" alt="온라인예약예시화면-02">
                    </div>
                </li>
            </ul>
        </div-->
        <div class="lg:py-14 py-6 lg:px-28 px-4">
            <h2 class="text-2xl font-bold text-aa-gray-900 leading-none mb-8">{{ .예약관련문의.title }}</h2>
            <p>
                {{ .예약관련문의.body }}
                <a href="mailto:{{ site.Params.footer.이메일 }}">{{ site.Params.footer.이메일 }}</a>
            </p>
        </div>
        <br>
        <a class="block text-center bg-aa-purple-500 text-white py-3.5" href="{{ site.Params.bookingNaver }}" target="_blank">{{ .온라인예약이동 }}</a>
    </div>
</div>
{{ end }}
<!-- //Modal -->