{{ with site.Data.admission_guide.jp }}
<div class="mb-20" style="font-family:Kokoro,sans-serif;">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">{{ .관람안내.title }}</h2>
    </div>
    <div class="lg:flex justify-between">
        <div class="leading-loose text-lg">
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.개관일.title }}<span>|</span></dt>
                <dd>{{ .관람안내.개관일.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.휴관일.title }}<span>|</span></dt>
                <dd>{{ .관람안내.휴관일.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.주소.title }}<span>|</span></dt>
                <dd>{{ .관람안내.주소.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.문의.title }}<span>|</span> </dt>
                <dd>{{ .관람안내.문의.body }}</dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.안내.title }}<span>|</span></dt>
                <dd>
                    <ul class="list-decimal ml-5">
                        {{ range .관람안내.안내.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.오시는길.지하철.title }}<span>|</span></dt>
                <dd>
                    <ul class="list-decimal ml-5">
                        {{ range .관람안내.오시는길.지하철.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>
            <dl class="flex">
                <dt class="lg:w-16 w-20 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .관람안내.오시는길.버스.title }}<span>|</span></dt>
                <dd>
                    <ul class="list-decimal ml-5">
                        {{ range .관람안내.오시는길.버스.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>                        
        </div>
        <div class="mt-10 lg:mt-0 w-1/3" style="font-family:Kokoro,sans-serif;">
            <a class="inline-block border border-aa-purple-500 py-2 px-6 text-aa-purple-500 hover:text-black hover:border-black" @click="jpModal = true" href="#">オンライン予約のご案内</a>
        </div>
    </div>
</div>
<div class="mb-20" style="font-family:Kokoro,sans-serif;">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">{{ .소식참여.title }}</h2>
    </div>
    <div class="lg:flex justify-between">
        <div class="leading-loose text-lg">
            {{ if .소식참여.정기후원신청하기 }}
            <dl class="flex">
                <dt class="lg:w-24 w-36 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .소식참여.정기후원신청하기.title }}<span>|</span></dt>
                <dd>
                    <ol class="list-decimal ml-5">
                       {{ range .소식참여.정기후원신청하기.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ol>
                </dd>
            </dl>
            {{ end }}
            <dl class="flex">
                <dt class="lg:w-24 w-36 text-aa-gray-900 font-bold flex justify-between mr-3 flex-shrink-0">{{ .소식참여.일시후원신청하기.title }}<span>|</span></dt>
                <dd>
                    <ul class="list-decimal ml-5">
                        {{ range .소식참여.일시후원신청하기.body }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>              
        </div>
    </div>
</div>

<div class="mb-20" style="font-family:Kokoro,sans-serif;">
    <div class="flex justify-between items-center mb-6 border-b border-aa-gray-900 pb-6">
        <h2 class="text-3xl font-bold text-aa-gray-900 leading-none">{{ .박물관소개.title }}</h2>
    </div>  
    <div class="flex justify-between items-center mb-6 pb-6">
        <h3 class="text-2xl font-bold text-aa-gray-900 leading-none">{{ .박물관소개.인사말.title }}</h3>
    </div>
    <div class="justify-center mb-20">
        <h2 class="w-full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-8" >{{ .박물관소개.인사말.message }}</h2>
        <div class="w-full text-lg" style="font-family:Kokoro">
            {{ range .박물관소개.인사말.body }}
                <p class="mb-7" style="font-family:Kokoro">{{ . }}</p>
            {{ end }}
        </div>
    </div>
    <div class="flex justify-between items-center mb-6 pb-6 border-b border-aa-gray-200">
        <h3 class="text-2xl font-bold text-aa-gray-900 leading-none">{{ .박물관소개.미션비전.title }}</h3>
    </div>
    <div class="border-b border-aa-gray-200 pb-16 text-center">
        <b class="text-aa-purple-500 font-bold mb-8 block">{{ .박물관소개.미션비전.비전.title }}</b>
        <h2 class="text-4xl font-bold leading-normal" style="word-break:keep-all">{{ .박물관소개.미션비전.비전.body }}</h2>
    </div>
    <div class="justify-center mb-20">
        <div class="pt-16 text-center">
            <b class="text-aa-purple-500 font-bold mb-14 block">{{ .박물관소개.미션비전.미션.title }}</b>
            <ul class="flex flex-wrap justify-center lg:-mx-7 -mx-2" style="word-break:keep-all">
                {{ range .박물관소개.미션비전.미션.목록 }}
                    <li class="lg:px-7 px-2 w-1/2 lg:w-1/3 relative lg:mb-14 mb-4">
                        <img class="w-full" src="{{ .image }}">
                        <b class="text-2xl text-white absolute w-full lg:px-12 px-4 left-0 top-1/2 transform -translate-y-1/2">{{ .body }}</b>
                    </li>
                {{ end }}
            </ul>
            <ul class="flex flex-wrap justify-center lg:-mx-7 -mx-2" style="word-break:keep-all">
                {{ range .박물관소개.미션비전.미션.body }}
                    <li class="lg:px-7 px-2 w-1/2 lg:w-1/3 relative lg:mb-14 mb-4">
                        <img class="w-full" src="/images/mission-and-vision-002.jpg">
                        <b class="text-2xl text-white absolute w-full lg:px-12 px-4 left-0 top-1/2 transform -translate-y-1/2">{{ . }}</b>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="flex justify-between items-center mb-6 pb-6 border-b border-aa-gray-200">
        <h3 class="text-2xl font-bold text-aa-gray-900 leading-none">{{ .박물관소개.연혁.title }}</h3>
    </div>
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">{{ .박물관소개.연혁.전쟁과여성인권박물관연혁.title }}</h2>
    <ul class="text-aa-gray-900 mb-14">
        {{ range .박물관소개.연혁.전쟁과여성인권박물관연혁.목록 }}
            <li class="lg:flex mb-4">
                <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold lg:mb-0">{{ .title }}</h3>
                <div>
                    <dl class="flex">
                        <dt class="w-36 flex-shrink-0">{{ .date }}</dt>
                        <dd>{{ range .body}}{{ . }}{{ end }}</dd>
                    </dl>
                </div>
            </li>
        {{ end }}      
    </ul>
    <h2 class="text-4xl font-bold leading-normal mb-14" style="word-break:keep-all">{{ .박물관소개.연혁.전쟁과여성인권박물관건립추진연혁.title }}</h2>
    <ul class="text-aa-gray-900">
        {{ range .박물관소개.연혁.전쟁과여성인권박물관건립추진연혁.목록 }}
        <li class="lg:flex mb-4">
            <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold mb-6 lg:mb-0">{{ .title }}</h3>
            <div>
                <dl class="flex">
                    <dt class="w-36 flex-shrink-0">{{ .date }}</dt>
                    <dd>{{ range .body}}{{ . }}{{ end }}</dd>
                </dl>                               
            </div>
        </li>
        {{ end }}
    </ul>    
</div>
{{ end }}

<!-- Modal -->
{{ range $index, $element := site.Data.admission_guide }}
<div x-show="{{ $index }}Modal" style="font-family:Kokoro,sans-serif;">
    <div class="fixed w-full h-full top-0 left-0 bg-black bg-opacity-60"></div>
    <div class="absolute lg:w-10/12 w-full lg:top-24 top-0 lg:left-1/2 left-0 lg:transform lg:-translate-x-1/2 bg-white lg:rounded-xl overflow-hidden z-50">
        <a href="#" class="absolute block w-12 h-12 top-4 right-4" @click="{{ $index }}Modal = false">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </a>
        <!--div class="lg:py-14 py-6 lg:px-28 px-4">
            <h2 class="text-2xl font-bold text-aa-gray-900 leading-none mb-8">{{ .온라인예약안내.title }}</h2>
            <ul>
                <li class="justify-between mb-4">
                    <dl class="mb-8">
                        <dt class="w-10 h-10 leading-10 text-center rounded-3xl bg-aa-purple-500 text-white mb-4">1</dt>
                        {{ range .온라인예약안내.body_1 }}
                            <dd class="text-xl mb-2">{{ . }}</dd>
                        {{ end }}
                    </dl>
                    <div class="w-96 h-full bg-aa-gray-50 text-center mb-8">
                        <img class="h-full mx-auto" src="/images/museum-booking-01.png" alt="온라인예약예시화면-01">
                    </div>
                </li>
                <li class="justify-between mb-4">
                    <dl class="mb-8">
                        <dt class="w-10 h-10 leading-10 text-center rounded-3xl bg-aa-purple-500 text-white mb-4">2</dt>
                        {{ range .온라인예약안내.body_2 }}
                            <dd class="text-xl mb-2">{{ . }}</dd>
                        {{ end }}
                    </dl>
                    <div class="w-96 h-full bg-aa-gray-50 flex items-center">
                        <img class="h-full mx-auto" src="/images/museum-booking-02.png" alt="온라인예약예시화면-02">
                    </div>
                </li>
            </ul>
        </div-->
        <div class="lg:py-14 py-6 lg:px-28 px-4">
            <h2 class="text-2xl font-bold text-aa-gray-900 leading-none mb-8">{{ .예약관련문의.title }}</h2>
            <p>
                {{ .예약관련문의.body }}
                <a href="mailto:{{ site.Params.footer.이메일 }}">{{ site.Params.footer.이메일 }}</a>
            </p>
        </div>
        <br>
        <a class="block text-center bg-aa-purple-500 text-white py-3.5" href="{{ site.Params.bookingNaver }}" target="_blank">{{ .온라인예약이동 }}</a>
    </div>
</div>
{{ end }}
<!-- //Modal -->