{{ with site.Data.admission_guide.ko }}
    <div class="bg-aa-gray-100 py-14 lg:px-64 px-4">
        <h2 class="text-aa-gray-700 text-5xl font-bold mb-14">찾아오는 길</h2>
        <div class="mb-14">
            <img class="w-full" src="/images/museum-map-wwm.png" alt="전쟁과여성인권박물관 찾아오시는 길">
        </div>
        <div>
            <dl class="text-lg lg:flex mb-6">
                <dt class="lg:w-20 mb-2 lg:mb-0">{{ .관람안내.오시는길.지하철.title }}</dt>
                <dd>
                    <ul class="list-disc ml-4 lg:ml-0">
                        {{ range .관람안내.오시는길.지하철.body }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>
            <dl class="text-lg lg:flex mb-6">
                <dt class="lg:w-20 mb-2 lg:mb-0">{{ .관람안내.오시는길.버스.title }}</dt>
                <dd>
                    <ul class="list-disc ml-4 lg:ml-0">
                        {{ range .관람안내.오시는길.버스.body }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </dd>
            </dl>
            <p class="text-aa-red">{{ .관람안내.오시는길.버스.body_ref }}</p>
        </div>
    </div>
{{ end }}