{{ define "main" }}
{{- `<!-- /index.html  -->` | safeHTML -}}
<div id="main-wrap" class="overflow-x-hidden relative">
  <div id="skip-link">
    <a class="block w-full h-10 leading-10 text-center absolute -top-10 left-0 bg-white z-50" href="#main-content">컨텐츠 바로가기</a>
  </div>
  <div class="contents-area" id="main-content">
    {{/* 슬라이드 배너 */}}
    {{ partial "marketing/banner--slide" . }}

    <!-- notice-area -->
    {{ partial "marketing/banner--sticky" . }}

    <!-- 관람안내 / 관람시간 -->
    {{ partial "marketing/banner--admission" . }}

    <!-- 교육 프로그램 -->
    {{ partial "marketing/featured--courses" . }}

    <!-- 환영 -->
    {{ partial "marketing/banner--welcome" . }}

    <!-- 상설전시 / 특별전시 -->
    {{ partial "marketing/featured--exhibitions" . }}

    <!-- 소장품 -->
    {{ partial "marketing/featured--items" . }}

    <!-- 뉴스레터 -->
    {{ partial "marketing/form--newsletter" . }}
  </div>
</div>
{{ end }}
