<div class="bg-aa-gray-50">
    <dl class="container flex items-center md:px-8 sm:px-8 py-3.5">
        {{ range .Site.Menus.main }} 
            {{ if eq (index (split .URL "/") 1) $.Section }}
                <dt class="text-lg pr-8 border-r border-aa-gray-200 mr-8">{{ .Name }}</dt>
                <dd>
                    <ul class="flex text-aa-gray-500">
                        {{ range .Children }}
                            <li class="mr-6 {{ if in $.RelPermalink (print .URL "/") }}text-aa-purple-500{{ end }}"><a href="{{ .URL }}" {{ if eq .Name "특별전시"}} target="_blank" {{ end }}>{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </dd>
            {{ end }} 
        {{ end }}
    </dl>
</div>
