<!-- submenu -->
<div class="bg-aa-gray-50">
    <dl class="container flex items-center py-3.5">
        <dt class="text-lg pr-8 border-r border-aa-gray-200 mr-8">아카이브</dt>
        <dd>
            <ul class="flex text-aa-gray-500">
                <li class="mr-6"><a href="#">이달의 기록</a></li>
                <li class="mr-6"><a href="#">기록물 이용</a></li>
                <li class="mr-6 text-aa-purple-500"><a href="#">기록물 기증</a></li>
            </ul>
        </dd>
    </dl>
</div>
<!-- //submenu -->