<header class="header-sub bg-white text-gray-700" x-data="{ megaMenu: false }">
  <div class="absolute top-0 left-0 bg-white w-full z-10 transition-all duration-300"  x-on:mouseleave="megaMenu = false"  :style="{ 'height' : (megaMenu ? '22rem' : '0') }"></div>
  <div class="mx-auto lg:px-8 px-4 lg:flex justify-between items-center h-20 z-10 relative">
    <a href="/" class="logo flex-shrink-0 z-20 absolute top-4 lg:static" style="background-image :url(/images/logo.png)">전쟁과 여성 인권 박물관</a>
    <a href="#" class="absolute right-4 top-6 lg:hidden">
      <span class="burger flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <span class="ml-2">메뉴</span>
      </span>
      <span class="close hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="ml-2">닫기</span>
      </span>
    </a>
    <ul class="menu-main lg:flex justify-end items-center whitespace-nowrap absolute left-0 top-16 lg:static w-full lg:w-auto px-4 lg:px-0 max-h-0 lg:max-h-full overflow-hidden lg:overflow-visible">
      {{ range site.Menus.main }}
      <li class="relative xl:mr-14 lg:mr-11 border-b lg:border-none border-aa-gray-300">
        <a class="block lg:text-center text-lg leading-6 lg:leading-7 py-4 lg:px-0" x-on:mouseover="megaMenu = true" href="#">{{ .Name }}</a>
        <ul class="lg:absolute left-1/2 top-20 text-gray-700 transform -translate-x-1/2 text-center z-20" x-on:mouseover="megaMenu = true" x-show="megaMenu">
          {{ range .Children }}
          <li><a class="block py-3 text-center hover:bg-aa-gray-100" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
      <li class="relative xl:mr-7 lg:mr-5 border-b lg:border-none border-aa-gray-300">
        <a class="lg:text-center text-lg leading-6 lg:leading-7 py-4 lg:px-0 flex" href="/search">
          검색
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </a>
      </li>
      <li class="buttons xl:block hidden">
        <a class="inline-block border border-aa-purple-500 text-aa-purple-500 px-7 py-3.5 rounded-sm text-center box-border" href="/news/museum-donation/">후원하기</a>
      </li>
    </ul>
  </div>
</header>
