<!-- 검색페이지에 사용되는 헤더 레이아웃 -->
<header class="bg-blue-600 dark:bg-gray-900 text-gray-900 dark:text-gray-100 body-font">
  <div class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 ">
      <span class="ml-3 text-xl">{{ .Site.Title }}</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-white justify-center">
    </nav>
      <ul class="lnb pt-4">
         <li class="search inline-block">
          <a class="block px-4 py-1 bg-blue-600 border-white dark:bg-black dark:border-blue-500 border box-border rounded-lg text-sm text-white dark:text-blue-500 strong" href="/search">
            검색
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline text-white dark:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </a>
        </li>
        <li class="login inline-block">
          <a class="block px-4 py-1 bg-white border-blue-600 dark:bg-blue-500 dark:border-blue-500 border box-border rounded-lg text-sm text-gray-900 dark:text-gray-100 dark:bg-gray-900" href="/items"> 탐색
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline text-gray-900 dark:text-gray-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
            </svg>
          </a>
        </li>
      </ul>
  </div>
</header>